<ion-header>

  <ion-navbar>
    <ion-title>Events</ion-title>
  </ion-navbar>

</ion-header>

<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Links</ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content padding>
    <ion-list *ngFor="let cat of categories">
        <ion-list-header>
            {{cat.name}}
        </ion-list-header>
        <ion-item *ngFor="let event of cat.events">
            <h2>{{event.name}}</h2>
        </ion-item>
    </ion-list>
</ion-content>
